@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Git IT</title>
    <script src="~/lib/boxicons/dist/boxicons.js"></script>
    <link href="~/lib/daisyui/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="~/lib/htmx.org/dist/htmx.min.js"></script>
    <script defer src="~/lib/alpinejs/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>

</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>

<footer>
    @* <box-icon name="rocket"></box-icon> *@
    @* <span>Gig IT</span> *@
</footer>
</html>