@model gig_it.Pages.IndexModel

@{
    var stats = Model.Stats;
}

<section class="grid grid-cols-1 grid-rows-auto gap-2">

    <div class="stats stats-vertical shadow">
        <div class="stat">
            <div class="stat-title text-accent">Average Offer</div>
            <div class="stat-value">$@stats.average_offer</div>
            @* <div class="stat-desc">Jan 1st - Feb 1st</div> *@
        </div>

        <div class="stat">
            <div class="stat-title text-accent">Average Trip</div>
            <div class="stat-value">@stats.average_trip mi.</div>
            @* <div class="stat-desc">↗︎ 400 (22%)</div> *@
        </div>

        <div class="stat">
            <div class="stat-title text-accent">Average Fuel Cost</div>
            <div class="stat-value">$@Math.Abs(stats.average_fuel_cost_per_mi) per mi.</div>
            @* <div class="stat-desc">↘︎ 90 (14%)</div> *@
        </div>
    </div>

    <div class="stats bg-primary text-primary-content">
        <div class="stat">
            <div class="stat-title text-white">Average USD / Mile</div>
            <div class="stat-value">$@(stats.average_usd_per_mi == -1 ? "???" : stats.average_usd_per_mi)</div>
            @* <div class="stat-actions"> *@
            @* <button class="btn btn-sm btn-success">Add funds</button> *@
            @* </div> *@
        </div>

        <div class="stat">
            <div class="stat-title text-white">Average MPG</div>
            <div class="stat-value">$@stats.average_mpg</div>
            @* <div class="stat-actions"> *@
            @*     <button class="btn btn-sm">Withdrawal</button> *@
            @*     <button class="btn btn-sm">Deposit</button> *@
            @* </div> *@
        </div>
    </div>
</section>