@using Microsoft.AspNetCore.Mvc.TagHelpers
@model gig_it.Pages.IndexModel

<div x-data="{submitted:false}" class="card w-full max-w-sm shrink-0 shadow-2xl">
    <form
        hx-indicator="#signup_indicator"
        hx-post="@Url.Page("Index", "AddOffer")"
        class="card-body">
        <div class="form-control">
            <label class="label">
                <span class="label-text">Offer</span>
            </label>
            <input asp-for="Offer" type="number" min="0.00" max="500.00" step=".50" placeholder="$6" class="input input-bordered bg-transparent" required/>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Miles</span>
            </label>
            <input asp-for="Miles" type="text" placeholder="5.0" class="input input-bordered bg-transparent"/>
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">Miles per Gallon</span>
            </label>
            <input asp-for="MPG" type="text" min="20.00" step="1" max="120.00" placeholder="20.00" class="input input-bordered bg-transparent"/>
        </div>

        <div class="form-control mt-6">
            <button
                x-on:click="submitted=true"
                class="btn btn-primary">
                Submit!
            </button>
        </div>

        <span x-show="submitted" id="signup_indicator" class="htmx-indicator h-0">
            <label>signing up ...</label>
            <img class="w-8" alt="bars" src="~/img/loaders/circle_bars.svg"/>
        </span>
    </form>
</div>